# Backend
backend/.env
backend/*.db
backend/*.webm
backend/__pycache__/
backend/venv/
backend/.venv/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local

# Python
__pycache__/
*.py[cod]
*.so
.env
.venv
venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
